<div class="form-group" *ngFor="let key of objectKeys(data)">
    <mat-form-field *ngIf="checkType(data[key], 'string')">
        <input type="text" placeholder="{{key}}" matInput="" [(ngModel)]="data[key]">
    </mat-form-field>
    <mat-form-field *ngIf="checkType(data[key], 'integer')">
        <input type="number" placeholder="{{key}}" matInput="" [(ngModel)]="data[key]">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="data[key]" *ngIf="checkType(data[key], 'boolean')">{{key}}</mat-checkbox>
</div>
<button (click)="closeWindow()" mat-icon-button="" class="float-right"><i class="material-icons">done</i></button>