.db-row {
  display: flex;
}

#scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: rgba(0,0,0,.03);
}

#scrollbar::-webkit-scrollbar
{
  width: 12px;
  background-color: rgba(0,0,0,.03);
}

#scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}