<div class="db-widgets-table">
    <app-widget-bar
            (addNewWidgetEvent)="addWidget($event)"
            (expandEvent)="resize($event)"
            (logoutEvent)="logout()"
            (deleteWidgetsEvent)="deleteWidgets()">
    </app-widget-bar>
    <section id="widgets" [style.width]="size + '%'">
        <div class="db-widgets-container" [style.width]="size+'%'">
            <gridster [options]="options">
                <gridster-item [item]="widget.settings.params.grid" *ngFor="let widget of widgets">
                    <app-widget-container
                            (deleteMe)="deleteWidget($event)"
                            [widget]="factory.getWidget(widget.service, widget.widget)"
                            [settings]="widget.settings" [delete]="widget.delete">
                    </app-widget-container>
                </gridster-item>
            </gridster>
        </div>
    </section>
</div>