<div class="db-widgets-table">
    <app-widget-bar (addNewWidgetEvent)="addWidget($event)" (expandEvent)="resize($event)" (logoutEvent)="logout()"></app-widget-bar>
    <section id="widgets" [style.width]="size + '%'">
        <div class="db-widgets-container" [style.width]="size+'%'">
            <gridster [options]="options">
                <gridster-item [item]="widget.props" *ngFor="let widget of widgets">
                    <app-widget-container
                            [widget]="factory.getWidget(widget.service, widget.widget)"
                            [icon]="widget.icon" [title]="widget.title" [subtitle]="widget.subtitle">
                    </app-widget-container>
                </gridster-item>
            </gridster>
        </div>
    </section>
</div>