app-widget-bar {
  display: table-cell;
}

#widgets {
  vertical-align:top;
  display: table-cell;
  width: 200%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.db-widgets-table {
  display: table;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.db-widgets-container {
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  display: block;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  > * {
    margin: 0;
  }
  ::ng-deep gridster {
    background: transparent;
    ::ng-deep gridster-item {
      background: transparent;
    }
  }
}

.logout {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}