<div class="widget-container" [style.width]="navBarWidth">
    <div id="widgets-list" class="db-nav-container" [style.width]="navBarWidth" [style.right]="navBarWidth"
         mwlResizable
         [enableGhostResize]="true"
         [resizeCursorPrecision]=20
         [resizeEdges]="{right: true}"
         (resizeEnd)="onResizeEnd($event)">
        <svg-icon src="assets/trashboard-stacked-logo.svg"></svg-icon>
        <div class="db-tools">
            <button mat-icon-button (click)="expandEvent.emit(false)">
                <mat-icon aria-label="Example icon-button with a heart icon">first_page</mat-icon>
            </button>
            <button mat-icon-button (click)="expandEvent.emit(true)">
                <mat-icon aria-label="Example icon-button with a heart icon">last_page</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="logoutEvent.emit()">
                <mat-icon aria-label="Example icon-button with a heart icon">logout</mat-icon>
            </button>
        </div>
        <ul class="db-nav">
            <li *ngFor="let elem of nav" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <div *ngIf="!elem.parent" [ngClass]="'service ' + elem.label" (click)="switchService(elem)">
                    <svg-icon src="{{elem.svg}}"></svg-icon>
                    <span>{{elem.name}}</span>
                </div>
                <div *ngIf="elem.parent && elem.extended" [ngClass]="'widget ' + elem.parent " (click)="addNewWidget(elem)">
                    <span>{{elem.name}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>