<form [hidden]="signUp" class="db-form db-container" [formGroup]="loginForm" (submit)="Login()" id="loginForm" name="loginForm">
    <div class="text-center db-top-form-logo">
        <svg-icon src="assets/trashboard-stacked-logo.svg" ngClass="centered-icon"></svg-icon>
    </div>
    <mat-form-field>
        <input matInput="" type="email" formControlName="email" placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput="" type="password" formControlName="password" placeholder="Password" required>
    </mat-form-field>
    <div class="db-row">
        <button (click)="signUp = !signUp" mat-raised-button color="primary"
                class="col-5 float-left">Sign up
        </button>
        <button [disabled]="!loginForm.valid" mat-raised-button color="accent"
                type="submit" class="col-5 float-right">Login
        </button>
    </div>
</form>

<form [hidden]="!signUp" class="db-form db-container" [formGroup]="userForm" (submit)="SignUp()" id="userForm" name="userForm">
    <div class="text-center db-top-form-logo">
        <svg-icon src="assets/trashboard-stacked-logo.svg" ngClass="centered-icon"></svg-icon>
    </div>
    <mat-form-field>
        <input matInput="" type="text" placeholder="Username" formControlName="username" id="username" name="username" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput="" type="email" formControlName="email" placeholder="Email" id="email" name="email" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput="" type="password" formControlName="password" placeholder="Password" id="password" name="password" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput="" type="password" formControlName="passwordConfirm" placeholder="Confirm Password" required>
    </mat-form-field>
    <div class="db-row">
        <button (click)="signUp = !signUp" mat-raised-button color="primary"
                class="col-5 float-left">Login
        </button>
        <button [disabled]="!userForm.valid" mat-raised-button color="accent"
                type="submit" class="col-5 float-right">Sign Up
        </button>
    </div>
</form>