<div class="db-row-youtube">
    <img src="{{this.settings.infos?.snippet?.thumbnails?.default?.url}}">
   <div>
        <p>{{this.settings.infos?.snippet?.title}}</p>
        <p>By {{this.settings.infos?.snippet?.channelTitle}}</p>
        <p>Published on {{this.settings.infos?.snippet?.publishedAt |  date:'MM, dd yyyy'}}</p>
   </div>
</div>
<mat-progress-bar mode="determinate" value="{{getLikeRatio()}}"></mat-progress-bar>
<div class="like-row">
    <p class="like-text"><i class="material-icons">thumb_up</i> {{this.settings.infos?.statistics?.likeCount}}</p>
    <p class="like-text"><i class="material-icons">thumb_down</i> {{this.settings.infos?.statistics?.dislikeCount}}</p>
</div>
<mat-divider></mat-divider><br>
<div class="like-row">
    <p class="like-text"><i class="material-icons">visibility</i> {{this.settings.infos?.statistics?.viewCount}}</p>
    <p class="like-text"><i class="material-icons">comment</i> {{this.settings.infos?.statistics?.commentCount}}</p>
</div>