<div *ngFor="let message of this.settings.infos">
  <div class="db-row-message">
    <div class="epitech-photo">
      <div>
        <img class="center-image-message" *ngIf="message.user && !message.user.picture" src="https://intra.epitech.eu/staticb2ed16c919fc90d7223199a285f3ceb2da9fa630/img/nopicture-commentview.png">
        <img class="center-image-message" *ngIf="message.user && message.user.picture" src="{{message?.user?.picture}}">
        <p class="text-center">{{message?.user?.title}}</p>
      </div>
    </div>
    <div class="epitech-message">
      <p class="text-capitalize">{{message?.class}}</p>
      <p>{{htmlToPlaintext(message?.title)}}</p>
      <p>{{message?.date}}</p>
    </div>
  </div>
</div>