<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card class="db-widget-card scrollable" id="scrollbar">
    <div class="db-heading">
        <mat-card-header class="db-title">
            <svg-icon src="{{icon}}" mat-card-avatar class="example-header-image"></svg-icon>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <button color="warn" (click)="openSettings()" class="btn-setting float-right" mat-icon-button=""><i class="material-icons">build</i></button>
        <button (click)="deleteWidget()" class="btn-setting float-right" mat-icon-button=""><i class="material-icons">delete</i></button>
        <button class="btn-setting float-right" mat-icon-button="" color="{{connectInfos[component.settings.state].color}}">
            <i class="material-icons">{{connectInfos[component.settings.state].icon}}</i>
        </button>
    </div>
    <mat-card-content>
        <ng-template appWidgetHost=""></ng-template>
    </mat-card-content>
</mat-card>
